# Heart Disease Prediction. Outliers

### Import neccesary libraries

In [1]:
import pandas as pd 

from scipy import stats
import numpy as np

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from scipy import stats

### Read Data

In [6]:
data = pd.read_csv("../heart.csv", sep=",")
data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

### Detecting outliers

In statistics, an outlier is an observation point that is distant from other observations. The outliers can be a result of a mistake during data collection or it can be just an indication of variance in your data.

For detecting outliers in such case I use z-score method. The Z-score is the signed number of standard deviations by which the value of an observation or data point is above the mean value of what is being observed or measured.

In [7]:
z = np.abs(stats.zscore(data))
print(z)

          age       sex        cp  trestbps      chol       fbs   restecg  \
0    0.952197  0.681005  1.973123  0.763956  0.256334  2.394438  1.005832
1    1.915313  0.681005  1.002577  0.092738  0.072199  0.417635  0.898962
2    1.474158  1.468418  0.032031  0.092738  0.816773  0.417635  1.005832
3    0.180175  0.681005  0.032031  0.663867  0.198357  0.417635  0.898962
4    0.290464  1.468418  0.938515  0.663867  2.082050  0.417635  0.898962
..        ...       ...       ...       ...       ...       ...       ...
298  0.290464  1.468418  0.938515  0.478391  0.101730  0.417635  0.898962
299  1.033002  0.681005  1.973123  1.234996  0.342756  0.417635  0.898962
300  1.503641  0.681005  0.938515  0.706843  1.029353  2.394438  0.898962
301  0.290464  0.681005  0.938515  0.092738  2.227533  0.417635  0.898962
302  0.290464  1.468418  0.032031  0.092738  0.198357  0.417635  1.005832

      thalach     exang   oldpeak     slope        ca      thal    target
0    0.015443  0.696631  1.087338  2.274579  0.714429  2.148873  0.914529
1    1.633471  0.696631  2.122573  2.274579  0.714429  0.512922  0.914529
2    0.977514  0.696631  0.310912  0.976352  0.714429  0.512922  0.914529
3    1.239897  0.696631  0.206705  0.976352  0.714429  0.512922  0.914529
4    0.583939  1.435481  0.379244  0.976352  0.714429  0.512922  0.914529
..        ...       ...       ...       ...       ...       ...       ...
298  1.165281  1.435481  0.724323  0.649113  0.714429  1.123029  1.093459
299  0.771706  0.696631  0.138373  0.649113  0.714429  1.123029  1.093459
300  0.378132  0.696631  2.036303  0.649113  1.244593  1.123029  1.093459
301  1.515125  1.435481  0.138373  0.649113  0.265082  1.123029  1.093459
302  1.064975  0.696631  0.896862  0.649113  0.265082  0.512922  1.093459

[303 rows x 14 columns]

In [8]:
threshold = 3
res = np.where(z > 3)
print("Length:", len(res[0]), ":", len(res[1]))
print("Rows:",res[0])
print("Columns:",res[1])

Length: 16 : 16
Rows: [ 28  48  85  92 158 163 164 204 220 221 223 246 248 251 272 281]
Columns: [ 4 12  4 11 11 11 11  9  4  9  3  4  3 11  7 12]

In [9]:
res

(array([ 28,  48,  85,  92, 158, 163, 164, 204, 220, 221, 223, 246, 248,
        251, 272, 281], dtype=int64),
 array([ 4, 12,  4, 11, 11, 11, 11,  9,  4,  9,  3,  4,  3, 11,  7, 12],
       dtype=int64))

In [11]:
outliers_row = []
for j in res[0]:
    r = []
    for i in data.columns:
        r.append(data[i][j])
    outliers_row.append(r)

In [12]:
outliers_row

[[65, 0, 2, 140, 417, 1, 0, 157, 0, 0.8, 2, 1, 2, 1],
 [53, 0, 2, 128, 216, 0, 0, 115, 0, 0.0, 2, 0, 0, 1],
 [67, 0, 2, 115, 564, 0, 0, 160, 0, 1.6, 1, 0, 3, 1],
 [52, 1, 2, 138, 223, 0, 1, 169, 0, 0.0, 2, 4, 2, 1],
 [58, 1, 1, 125, 220, 0, 1, 144, 0, 0.4, 1, 4, 3, 1],
 [38, 1, 2, 138, 175, 0, 1, 173, 0, 0.0, 2, 4, 2, 1],
 [38, 1, 2, 138, 175, 0, 1, 173, 0, 0.0, 2, 4, 2, 1],
 [62, 0, 0, 160, 164, 0, 0, 145, 0, 6.2, 0, 3, 3, 0],
 [63, 0, 0, 150, 407, 0, 0, 154, 0, 4.0, 1, 3, 3, 0],
 [55, 1, 0, 140, 217, 0, 1, 111, 1, 5.6, 0, 0, 3, 0],
 [56, 0, 0, 200, 288, 1, 0, 133, 1, 4.0, 0, 2, 3, 0],
 [56, 0, 0, 134, 409, 0, 0, 150, 1, 1.9, 1, 2, 3, 0],
 [54, 1, 1, 192, 283, 0, 0, 195, 0, 0.0, 2, 1, 3, 0],
 [43, 1, 0, 132, 247, 1, 0, 143, 1, 0.1, 1, 4, 3, 0],
 [67, 1, 0, 120, 237, 0, 1, 71, 0, 1.0, 1, 0, 2, 0],
 [52, 1, 0, 128, 204, 1, 1, 156, 1, 1.0, 1, 0, 0, 0]]

### Save outliers in separate file

In [13]:
outliers_data = pd.DataFrame(data=outliers_row, columns = data.columns)
outliers_data.head(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,65,0,2,140,417,1,0,157,0,0.8,2,1,2,1
1,53,0,2,128,216,0,0,115,0,0.0,2,0,0,1
2,67,0,2,115,564,0,0,160,0,1.6,1,0,3,1
3,52,1,2,138,223,0,1,169,0,0.0,2,4,2,1
4,58,1,1,125,220,0,1,144,0,0.4,1,4,3,1
5,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
6,38,1,2,138,175,0,1,173,0,0.0,2,4,2,1
7,62,0,0,160,164,0,0,145,0,6.2,0,3,3,0
8,63,0,0,150,407,0,0,154,0,4.0,1,3,3,0
9,55,1,0,140,217,0,1,111,1,5.6,0,0,3,0

In [14]:
outliers_data.to_csv("outliers.csv", index=False)

### Describe outliers

In [15]:
outliers_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.000000,16.0000,16.000000,16.000000,16.000000
mean,54.937500,0.562500,0.875000,142.375000,277.875000,0.250000,0.437500,146.812500,0.312500,1.662500,1.1875,2.000000,2.312500,0.437500
std,9.154006,0.512348,0.957427,23.613203,112.939438,0.447214,0.512348,29.289859,0.478714,2.106458,0.7500,1.712698,1.014479,0.512348
min,38.000000,0.000000,0.000000,115.000000,164.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000
25%,52.000000,0.000000,0.000000,128.000000,213.000000,0.000000,0.000000,140.500000,0.000000,0.000000,1.0000,0.000000,2.000000,0.000000
50%,55.500000,1.000000,0.500000,138.000000,230.000000,0.000000,0.000000,152.000000,0.000000,0.900000,1.0000,2.000000,3.000000,0.000000
75%,62.250000,1.000000,2.000000,142.500000,317.750000,0.250000,1.000000,162.250000,1.000000,2.425000,2.0000,4.000000,3.000000,1.000000
max,67.000000,1.000000,2.000000,200.000000,564.000000,1.000000,1.000000,195.000000,1.000000,6.200000,2.0000,4.000000,3.000000,1.000000